<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LoggerLife.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>37F1267D855FD8F12CDF0FC88AF1977511E2BE62</string>
				<key>dateExpires</key>
				<string>7/10/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>YR37Y2UVNX.com.mulvsoft.loggerlife</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>YR37Y2UVNX</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>YR37Y2UVNX.com.mulvsoft.loggerlife</string>
				</array>
			</dict>
			<key>name</key>
			<string>LoggerLife.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d1f6d20b-5850-40be-847a-e5cb5e0252f3</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.mulvsoft.loggerlife</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>YR37Y2UVNX</string>
				<key>name</key>
				<string>John Mulvey</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
